a[aria-selected="true"]{
  background-color: white;
  color: #7fb62d;
}

a, .btn-primary {
	color:inherit;
	outline:none;
	font-weight: bold;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.btn.btn-del:focus, .btn.btn-del:hover {
	background-color: none;
	background: none;
	color: white;
	-webkit-box-shadow: 0 0 0 0.2rem #E14557;
  	box-shadow: 0 0 0 0.2rem #E14557;
}


.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.a-modif {
	background-color: #CAEA7B;
	border:1px solid #CAEA7B;
	border-radius: 20px 20px 20px 20px;
	padding: 1rem 0rem;
	text-decoration:none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.a-modif:hover{
	background-color: #a1c83f;
	color:white;
}
.container {
	color:#495057;
}
.contain{
	color:#495057;
	border:5px solid #CAEA7B;
	border-radius: 20px 20px 20px 20px;
	border-style: solid none solid solid;
}

.left-sign {
	background-color: #CAEA7B;
	border:1px solid #CAEA7B;
	border-radius: 20px 0 0 20px;
}
.right-sign {
	background-color: #CAEA7B;
	border:1px solid #CAEA7B;
	border-radius: 0 20px 20px 0;
}

.appOff {
	margin-top: 1rem !important;
	color: #E14557;
}

.appOn {
	margin-top: 1rem !important;
	color: #70af1c;
}

.stateNotSick {
	background-color: #CAEA7B;
	border:1px solid #CAEA7B;
	border-radius: 20px 20px 20px 20px;
	color:#495057;
	margin-top: 1rem !important;
}
.stateSick {
	background-color: #E14557;
	border:1px solid #E14557;
	border-radius: 20px 20px 20px 20px;
	color: white;
	margin-top: 1rem !important;
}

.a-menu:hover,  .a-menu:link, .a-menu:active{
	background: none;
	color: #a1c83f;
}
.btn:focus, .btn-primary:focus {
	background-color: #7fb62d;
}

form .erreur {
    color: #900;
}
form .requis {
    color: #c00;
}

.register{
    background:#CAEA7B;
    margin-top: 3%;
    padding: 3%;
    color:#495057;
	border:5px solid #CAEA7B;
	border-radius: 20px 20px 20px 20px;
	border-style: solid none solid solid;
}
.register-left{
    text-align: center;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left .im1{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
    
}
.btnRegister{

    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #E9FCB6;
    color: black;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #E9FCB6;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
   
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: black;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: #E9FCB6;
}
.register .nav-tabs .nav-link:hover{
    border: none;
   
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #495057;
    border: 2px solid #E9FCB6;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
     
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
    
}

.buttonSign{
	 float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #E9FCB6;
    color: black;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}